h1{
    color:black;
  
}

.Divider hr {
  border: none;
  border-top: 2px solid burlywood;
  margin: 0;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: MontSerrat;
  }
  
  li a:hover {
    background-color: #111;
  }
  @font-face {
    font-family: MontSerrat;
    src: url(/Font/Montserrat/Montserrat-VariableFont_wght.ttf);
  }


  .exhibition-intro{
    text-align: center;
  }


  main {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .addExhibition-button,
  .pastExhibition-button {
      margin-top: 20px;
  }

  .addExhibition-button button,
  .pastExhibition-button button {
      margin: 0 10px;
  }

   button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid black;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  button:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: burlywood;
    z-index: -1;
  }
  
  button:hover, button:focus {
    color: white;
  }
  
  button:hover:before, button:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
  }
  
  button:active {
    transform: scale(0.9);
  }

  .exhibition-intro{
    font-family: MontSerrat;
    color: black;
  }