body {
  font-family: MontSerrat;
  margin: 0;
  padding: 0;
}

.Divider hr {
  border: none;
  border-top: 2px solid burlywood;
  margin: 0;
}

.profile-section {
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}

.Left-Side, .Right-Side {
  float: left;
  width: 50%; /* Each div takes half of the container width */
}

.Left-Side ul,
.Right-Side ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Left-Side li,
.Right-Side li {
  margin-bottom: 8px;
}

.profile-picture-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: burlywood;
  margin-left: 20px;
  box-shadow: 5px 5px 10px rgba(139, 69, 19, 0.5);
  margin-top: 20px;
}

.profile-picture-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.about-me,
.images-userprofile {
  text-align: justify;
}

.images-userprofile {
  float: right;
  text-align: right;
}

.images-userprofile h2,
.images-userprofile p {
  color: burlywood;
}

.about-me h2,
.about-me p {
  color: darkgreen;
}

/* Additional styles for the image tags on the right */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.image-container img {
  width: 100px; /* Adjust the width of the images */
  height: 100px; /* Adjust the height of the images */
  object-fit: cover;
  border-radius: 10px; /* Add border-radius to the images */
}

.NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    
  }
  
  .NavBar li {
    float: right;
  
  }
  
 .NavBar li a {
    display: block;
    color: burlywood;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: MontSerrat;
   
  }
  
  .NavBar a:hover {
    background-color: #111;
  }

  @font-face {
    font-family: MontSerrat;
    src: url(/Font/Montserrat/Montserrat-VariableFont_wght.ttf);
  }

  .art-medium {
    width: 200px;
    text-align: center;
    margin: 10px;
    float: left;
  }
  
  .art-medium img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .contact-me {
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: burlywood; 
    color: black; /* Set the text color to white or your desired color */
    text-decoration: none; /* Remove underlines from the link */
    border-radius: 5px; /* Optional: Add rounded corners */
    font-family: MontSerrat;
  
  }