body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
  background-color: #f2f2f2;
}

.Divider hr {
  border: none;
  border-top: 2px solid burlywood;
  margin: 0;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
}

.NavBar li {
  margin-right: 20px;
}

.NavBar li a {
  color: burlywood;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.NavBar a:hover {
  color: #111;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  color: #333;
}

.container input[type=text],
.container input[type=password] {
  width: calc(100% - 24px);
  padding: 12px;
  margin-bottom: 20px;
  color: #333;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.container input[type=text]:focus,
.container input[type=password]:focus {
  background-color: #e1e1e1;
}

.container button {
  background-color: burlywood;
  color: white;
  padding: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #b38600;
}
