@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.Divider hr {
  border: none;
  border-top: 2px solid burlywood;
  margin: 0;
}
 
@font-face {
  font-family: MontSerrat;
  src: url('/Font/Montserrat/Montserrat-VariableFont_wght.ttf');
}

:root {
  --background-color: rgb(204, 193, 175);
  --button-background: burlywood;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.NavBar li {
  float: right;
}

.NavBar li a {
  display: block;
  color: burlywood;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: MontSerrat;
}

.NavBar a:hover {
  background-color: rgb(208, 200, 193);
}
@font-face {
  font-family: MontSerrat;
  src: url('/Font/Montserrat/Montserrat-VariableFont_wght.ttf');
}


*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', 'MontSerrat';
}

section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}

section span:hover 
{
  background: grey;
  transition: 0s;
}

section .signin
{
  position: absolute;
  width: 400px;
  background: lightslategrey;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  
}
section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 
{
  font-size: 2em;
  color: goldenrod;
  text-transform: uppercase;
}
section .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
section .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: wheat;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: black;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: black;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: goldenrod;
  font-weight: 600;
}
.signin .content .form .inputBox button[type="button"]
{
  padding: 10px;
  background: goldenrod;
  color: black;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="button"]:active
{
  opacity: 0.6;
}
